.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    animation: slide-up-fade-in 1s ease;
}

.dashboard-header {
    text-align: right;
    font-size: 4rem;
    font-weight: bold;
    color: #161616;
    margin: 0;
}

.dashboard-header span {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
        /* Bottom-right shadow */
        -4px -4px 8px rgba(0, 0, 0, 0.3),
        /* Top-left shadow */
        -4px 4px 8px rgba(0, 0, 0, 0.3),
        /* Bottom-left shadow */
        4px -4px 8px rgba(0, 0, 0, 0.3);
    /* Top-right shadow */
    color: #9b0000;
    /* Primary color */
}

.dashboard-description {
    text-align: right;
    font-size: 1.2rem;
    color: #414141;
    margin-top: 2rem;
    max-width: 1000px;
    line-height: 1.5;
}